/* navBar */
.item_menu_large{
    max-height: 100px
}


/* banner */

.imagem-banner {
    object-fit: cover;
    height: 400px;
}

#banner_curso .banner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-weight: 100;
    z-index: 200;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    max-width: 1000px;
}

.link {
    text-decoration: none; 
}

.link:hover{
    text-decoration: none;
}

#banner_curso .banner h1{
    font-size: 62px;
    font-weight: 100;
    color: #fff;
}

#banner_curso .banner .caixa{
    background-color: rgba(255, 255, 255, .3);
    font-weight: normal;
    font-size: 26px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
}


/* cards */

.card-size {
    max-width: 18rem;
    height: 200px;
}

#informacoes_gerais{
margin-top: 25px;
}

#informacoes_gerais .caixa-informacao{
    text-align: center;
    display: block;
    padding: 25px 0px;
    height: 300px;  
}

#informacoes_gerais .caixa-informacao .icone{
    margin-bottom: 15px;
}

.texto-informacao{
padding-left: 5%;
padding-right: 5%
}


/* main */

.grade{
    padding-top: 25px;
    padding-bottom: 10px;
}

#id_thead{
	 background-color: #1d4975;
	 color: #FDFEFE;
}

.semestre-par{
 background-color: #85C1E9;
}

.semestre-impar{
background-color: #E8F8F5 ;
}


/* modal */
.close{
    top: 0;
    right: 0;
}
